@import "config";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-view {
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  color: #333;
}

.selectors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-columns: repeat(3, 1fr);
  // justify-content: space-between;
  grid-gap: 2rem;
  padding: 1rem;
  .team {
    width: 100%;
    background-color: #fff;

    &-selector {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    button {
      width: 50%;
      padding: 0.5rem 0;
    }

    img {
      border: 2px $dark-color solid;
      padding: 0.1rem;
      margin: 5%;
      width: 90%;
    }

    .table {
      width: 100%;
      td {
        width: 50%;

        &:first-child {
          text-transform: capitalize;
        }
      }
    }
  }
}

.refresh {
  position: fixed;
  bottom: 2px;
  height: 4rem;
  border: none;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;

  transition: 0.2s all;

  &:hover {
    background-color: #bbb;
  }

  &-success {
    border-top: 3px #0f0 solid;
  }

  &-danger {
    border-top: 3px #f00 solid;
  }
}

.text-error {
  color: red;
}

@import "mobile";
